<li><a href="{{ site.url }}">Home</a></li>
<li><a href="{{ site.baseurl }}/#why">Why</a></li>
<li><a href="{{ site.baseurl }}/#updates">What's New</a></li>
<li><a href="{{ site.baseurl }}/tutorial">Tutorial</a></li>
<li><a href="https://github.com/cojomojo/crystal.js/wiki">Wiki</a></li>
<li><a href="https://github.com/cojomojo/crystal.js">Download On GitHub</a></li>


<!-- <li><iframe src="http://ghbtns.com/github-btn.html?user=cojomojo&repo=crystal.js&type=watch&count=true&size=large"
	allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe></li>
<li><iframe src="http://ghbtns.com/github-btn.html?user=cojomojo&repo=crystal.js&type=fork&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="100" height="30"></iframe></li>
<li><iframe src="http://ghbtns.com/github-btn.html?user=cojomojo&type=follow&size=large"
	allowtransparency="true" frameborder="0" scrolling="0" width="180" height="30"></iframe></li> -->